SmartAgent/SmartAgent.WebApplication/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartAgent.Services.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartAgent.Services.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentDTO" nillable="true" type="tns:AgentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentDTO" nillable="true" type="tns:ArrayOfAgentDTO" />
  <xs:complexType name="AgentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tasks" nillable="true" type="tns:ArrayOfTacheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentDTO" nillable="true" type="tns:AgentDTO" />
  <xs:complexType name="ArrayOfTacheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TacheDTO" nillable="true" type="tns:TacheDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTacheDTO" nillable="true" type="tns:ArrayOfTacheDTO" />
  <xs:complexType name="TacheDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TacheDTO" nillable="true" type="tns:TacheDTO" />
</xs:schema>